<h2>Products</h2>

<div id="product-wrapper">
  <% @products.each do |product| %>

  <div class="product">
    <h3><a href="/products/<%= product.id %>"><%= product.name %></a> </h3>
    <p><%= product.brand_name %></p>
    <p>Category: <%= product.category_name %></p>
    <p>Product Description: <%= product.description %></p>
    <p>Quantity: <%= product.quantity %></p>
    <p>Buying Cost: <%= product.buying_cost %></p>
    <p>Selling Price: <%= product.selling_price %></p>
    <a href="/products/<%= product.id %>/edit">Edit</a>
  </div>

  <% end %>
</div>
