<p>Product Name: <%= @product.name() %></p>
<p>Brand: <%= @product.brand_name() %></p>
<p>Category: <%= @product.category_name() %></p>
<p>Product Description: <%= @product.description() %></p>
<p>Quantity: <%= @product.quantity %></p>
<p>Buying Cost: <%= @product.buying_cost %></p>
<p>Selling Price: <%= @product.selling_price %></p>
