<link rel="stylesheet" href="/styles/structure.css">


<h2>Brands</h2>

<a href="/brands/new">Add new brand</a>
<div class="brand-wrapper">

  <% @brands.each do |brand| %>

  <div class="brand">
    <h3><a href="/brands/<%= brand.id %>"><%= brand.name %></a></h3>
    <img class="brand-logo" src="<%= brand.img %>" alt="Picture of logo" />
    <p>Brand Info: <%= brand.info %></p>
    <a href="/brands/<%= brand.id %>/edit">Edit</a>

  </div>

  <% end %>
</div>
